# API Configuration
VITE_API_URL=https://hr-management-system.onrender.com

# App Configuration
VITE_APP_NAME=HR Waseem
VITE_APP_VERSION=1.0.0

# Backend Configuration
CLIENT_URL=https://hr-management-system-app-phi.vercel.app
